{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": true
      }
    ],
    "arrow-parens": [
      2,
      "always"
    ],
    "no-plusplus": 0,
    "no-console": 0,
    "no-alert": 0
  }
}
