.footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background: #123;
}

.footer a {
  font-weight: bold;
  color: #bbf;
}

.footer p {
  color: #fff;
}
