.container {
  background: #ccddfe;
  border: 1px solid black;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  background: white;
  margin: 5px;
}

.subcontainer {
  background: white;
  margin: 5px;
  padding: 5px;
}
